<html lang="en" >
    <head>
        <meta charset="utf-8" />    
		<title>The Team</title>
        <link href="team.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<div id="navibar" class="navibar-fixed-top">  
		    <div class="item"><a class="link" href="../../templates/index.html">Home</a></div>
            <div class="item"><a class="link" href="../../templates/about/about.html">About</a></div>
            <div class="item"><a class="link" href="#">Activities</a></div>
            <div class="item"><a class="link" href="#">Upcoming Event</a></div>
            <div class="item"><a class="link" href="#">The Team</a></div>
            <div class="item"><a class="link" href="/registration">Register</a></div>
        </div>
		<div id="teampage">
			<h1 id="head1">Team @GLUG MVIT</h1>
        </div>
        <div class="MemberDetails" >
			<div id="vhr">
                <img src="images/members/vhr.jpg" height="300px" width="300px">
                <h1>Veeresh HR</h1>    
                <p>I am final year computer science and engineering undergraduate student who has a passion towards coding 
                    and related computer technologies.I work on various open source projects and I am big supporter of free 
                    software.I am currently working on exploring the world of Deep Neural Networks.Being a  big supporter
                    of free software I have been the part of setting up GLUG MVIT and current club lead.
                </p>
                <a class="png" href="https://www.facebook.com/veereshhr121" target="_blank">
                    <img src="images/icons/fb.png" style="frame=0;" width="40" height="40" alt="fb">
                </a>
				<a class="png" href="https://www.linkedin.com/in/veereshhr" target="_blank">
                    <img src="images/icons/linkedin.png" style="frame=0;" width="40" height="40" alt="linkedin">
                </a>
                <a class="png" href="https://github.com/Himanshu4746" target="_blank">
                    <img src="images/icons/Github.png" style="frame=0;" width="40" height="40" alt="Github">
                </a>
			</div>

            <div id="abhis">

			</div>

			<div id="cmvs">

			</div>

			<div id="jgm">

			</div>

			<div id="kvd">

			</div>

			<div id="pkn">

			</div>
		</div>	
    </body>
</html>